@import "./reset.css";
/*------------------------------------------------------------*/
:root {
	--black: #000000;
	--dark-purple: #2e293b;
	--silver: #9b98a1;
	--white: #fff;
	--blue: #0d51ff;
	--aquamarine: #11e1b8;
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	color: var(--silver);
	padding-top: 72px;
}

/*------------------------------------------------------------*/

.header__container {
	display: flex;
	align-items: center;
	max-width: 1130px;
	min-height: 72px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: var(--white);
}

.header__logo {
	position: relative;
	z-index: 5;
}

.header__menu {
	display: flex;
	justify-content: flex-end;
}

.header__button {
	height: 40px;
	width: 40px;
	margin-left: 50px;
	border-radius: 50%;
}

.header__button-img {
	height: 25px;
}

/*------------------------------------------------------------*/

.menu__item {
	position: relative;
	margin: 0 25px;
}

.menu__item:hover {
	color: var(--blue);
}

.menu__link {
	color: var(--black);
	opacity: 0.5;
	line-height: 19.2px;
	text-align: center;
}

.menu__link:hover {
	opacity: 1;
}

.menu__link:hover::before {
	position: absolute;
	top: 35%;
	left: -8px;
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--blue);
}

.menu__hidden {
	display: none;
}

.menu__button {
	position: relative;
}

.button {
	display: flex;
	align-items: center;
	text-align: left;
	margin-left: 18px;
	background-color: var(--white);
}

.button:hover {
	color: var(--blue);
}

.button:hover::before {
	position: absolute;
	content: "";
	top: 35%;
	left: 10px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--blue);
}

.menu__button-text {
	padding-right: 5px;
}

/* -------------------------------------- */

/* Tablet */
@media (max-width: 991.98px) {
	.menu__item {
		margin: 0 18px;
	}
}

/* Mobile */
@media (max-width: 767.98px) {
	body {
		padding-top: 35px;
	}
	.header__container {
		margin-top: 4px;
		min-height: 30px;
	}

	.header__menu {
		justify-content: start;
		margin: 0 0 60px 40px;
		padding-left: 15px;
	}

	.menu__list {
		margin-top: 60px;
	}

	.menu__item {
		margin: 0 0 25px 0px;
	}

	.menu__link {
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.05em;
	}

	.menu__hidden {
		display: block;
		margin: 50px 0 35px;
	}

	.hidden__title {
		margin-bottom: 20px;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 161.5%;
		color: var(--black);
	}

	.hidden__p {
		margin: 0;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 161.5%;
	}

	.button {
		margin: 0;
		text-align: left;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.05em;
	}

	.button:hover::before {
		left: -8px;
	}

	.header__language {
		display: none;
	}

	.navbar-toggler {
		padding: 0;
		height: 30px;
		width: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
	}

	.collapsing {
		display: block;
	}

	.collapse {
		display: block;
	}
}

/* -------------------------------------------------------- */
